<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample_01.sample_01.mapper.mariadb.ZzimcarBookingMapper">

    <!-- DB 컬럼(snake_case)과 DTO 필드(camelCase)를 매핑합니다. -->
    <resultMap id="zzimcarBookingResultMap" type="com.sample_01.sample_01.model.ZzimcarBooking">
        <id property="szb_01_pk" column="szb_01_pk"/>
        <result property="szb_01_GDS_booking_pid" column="szb_01_GDS_booking_pid"/>
        <result property="szb_01_GDS_booking_no" column="szb_01_GDS_booking_no"/>
        <result property="szb_01_GDS_booking_status_last" column="szb_01_GDS_booking_status_last"/>
        <!-- ※ 여기에 실제 컬럼과 필드를 추가로 매핑하세요. -->
    </resultMap>

    <select id="findLatestBookings" resultMap="zzimcarBookingResultMap">
        SELECT
            szb_01_pk
            ,szb_01_GDS_booking_pid
            ,szb_01_GDS_booking_no
            ,szb_01_GDS_booking_status_last
            ,szb_01_GDS_booking_reg_process
            ,szb_01_GDS_booking_reg_at
            ,szb_01_GDS_booking_cancel_process
            ,szb_01_GDS_booking_cancel_at
            ,szb_01_GDS_booking_retail_sales_method
            ,szb_01_GDS_retailer_pid
            ,szb_01_GDS_retailer_name
            ,szb_01_GDS_retailer_booking_no
            ,szb_01_GDS_booking_pick_at
            ,szb_01_GDS_booking_drop_at
            ,szb_01_GDS_pre_paid_currency_pid
            ,szb_01_GDS_pre_paid_currency_code
            ,szb_01_GDS_onsite_paid_currency_code
            ,szb_01_GDS_booking_payment_exchange_rate
            ,szb_01_GDS_booking_car_nm_selling_price
            ,szb_01_GDS_booking_insurance_nm_selling_price
            ,szb_01_GDS_booking_price_delivery_pick
            ,szb_01_GDS_booking_price_delivery_drop
            ,szb_01_GDS_booking_price_total
            ,szb_01_GDS_booking_price_deposit
            ,szb_01_GDS_booking_price_onsite
            ,szb_01_GDS_booking_price_cancel
            ,szb_01_GDS_booking_car_model_name
            ,szb_01_GDS_booking_car_supplier_name
            ,szb_01_GDS_booking_car_supplier_nation
            ,szb_01_GDS_booking_car_supplier_area
            ,szb_01_GDS_booker_name
            ,szb_01_GDS_booker_first_name
            ,szb_01_GDS_booker_mid_name
            ,szb_01_GDS_booker_last_name
            ,szb_01_GDS_booker_email
            ,szb_01_GDS_booker_country_code
            ,szb_01_GDS_booker_contact
            ,szb_01_GDS_driver_name
            ,szb_01_GDS_driver_first_name
            ,szb_01_GDS_driver_mid_name
            ,szb_01_GDS_driver_last_name
            ,szb_01_GDS_driver_country_code
            ,szb_01_GDS_driver_contact
            ,szb_01_GDS_driver_email
            ,szb_01_GDS_driver_birth
            ,szb_01_GDS_paid_amount
            ,szb_01_GDS_unpaid_amount
            ,szb_01_GDS_data_source_json
        FROM mobility_2024.settlement_01_zzimcar_booking
        ORDER BY szb_01_pk DESC
        LIMIT 10
    </select>

    <select id="countBookings" resultType="int">
        SELECT count( szb_01_pk ) FROM mobility_2024.settlement_01_zzimcar_booking
    </select>

    <select id="findBookings" parameterType="map" resultType="com.sample_01.sample_01.model.ZzimcarBooking">
        SELECT
            szb_01_pk
             ,szb_01_GDS_booking_pid
             ,szb_01_GDS_booking_no
             ,szb_01_GDS_booking_status_last
             ,szb_01_GDS_booking_reg_process
             ,szb_01_GDS_booking_reg_at
             ,szb_01_GDS_booking_cancel_process
             ,szb_01_GDS_booking_cancel_at
             ,szb_01_GDS_booking_retail_sales_method
             ,szb_01_GDS_retailer_pid
             ,szb_01_GDS_retailer_name
             ,szb_01_GDS_retailer_booking_no
             ,szb_01_GDS_booking_pick_at
             ,szb_01_GDS_booking_drop_at
             ,szb_01_GDS_pre_paid_currency_pid
             ,szb_01_GDS_pre_paid_currency_code
             ,szb_01_GDS_onsite_paid_currency_code
             ,szb_01_GDS_booking_payment_exchange_rate
             ,szb_01_GDS_booking_car_nm_selling_price
             ,szb_01_GDS_booking_insurance_nm_selling_price
             ,szb_01_GDS_booking_price_delivery_pick
             ,szb_01_GDS_booking_price_delivery_drop
             ,szb_01_GDS_booking_price_total
             ,szb_01_GDS_booking_price_deposit
             ,szb_01_GDS_booking_price_onsite
             ,szb_01_GDS_booking_price_cancel
             ,szb_01_GDS_booking_car_model_name
             ,szb_01_GDS_booking_car_supplier_name
             ,szb_01_GDS_booking_car_supplier_nation
             ,szb_01_GDS_booking_car_supplier_area
             ,szb_01_GDS_booker_name
             ,szb_01_GDS_booker_first_name
             ,szb_01_GDS_booker_mid_name
             ,szb_01_GDS_booker_last_name
             ,szb_01_GDS_booker_email
             ,szb_01_GDS_booker_country_code
             ,szb_01_GDS_booker_contact
             ,szb_01_GDS_driver_name
             ,szb_01_GDS_driver_first_name
             ,szb_01_GDS_driver_mid_name
             ,szb_01_GDS_driver_last_name
             ,szb_01_GDS_driver_country_code
             ,szb_01_GDS_driver_contact
             ,szb_01_GDS_driver_email
             ,szb_01_GDS_driver_birth
             ,szb_01_GDS_paid_amount
             ,szb_01_GDS_unpaid_amount
             ,szb_01_GDS_data_source_json
        FROM
            mobility_2024.settlement_01_zzimcar_booking
        ORDER BY
            szb_01_pk DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>


</mapper>